*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.main{
    margin: 0 46px;
}
.content-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* ======================================= */
.nav__pc {
    background-color: rgb(52, 30, 30);
    height: 60px;
    display: flex;
}
.nav__list {
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
}
.nav__link {
    text-decoration: none;
    color: #fff;
    margin-right: 46px;
}
/* Mobile nav */
.nav__bars-btn{
    width: 28px;
    height: 28px;
    color: #fff;
    position: relative;
    top: 20px;
    padding-left: 12px;
    display: none;
}
.nav__overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}
.nav__mobile{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.3s;
}
.nav__mobile-list{
    margin-top: 24px;
    list-style: none;
}
.nav__mobile-link{
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
}
.nav__mobile-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 8px;
    font-size: 1.4rem;
    color: #666;
}
.nav__input:checked ~ .nav__overlay{
    display: block;
}
.nav__input:checked ~ .nav__mobile{
    transform: translateX(0);
    opacity: 1;
}
@media  (max-width: 1023px) {
    .nav__bars-btn{
        display: block;
    }
    .nav__list{
        display: none;
    }
}
@keyframes fadeIn{
    from{opacity: 0;}
    to {opacity: 1;}
}


